<div class="oso-todo-view">
    <input class="oso-todo-toggle" type="checkbox" {{#whether done 'checked="checked"' ''}}{{/whether}} />
    <label>{{{title}}}</label>
    <a class="oso-todo-destroy"></a>
</div>
<input class="oso-todo-edit" type="text" value="{{{title}}}"/>