<div class="o-todo-view">
    <input class="o-todo-toggle" type="checkbox" {{#whether done 'checked="checked"' ''}}{{/whether}} />
    <label>{{{title}}}</label>
    <a class="o-todo-destroy"></a>
</div>
<input class="o-todo-edit" type="text" value="{{{title}}}"/>