{{#if done}}
<a id="clear_completed" class="oso-clear-completed">Clear {{done}} completed {{#whether (equal done 1) 'item' 'items'}}{{/whether}}</a>
{{/if}}
<div class="oso-todo-count"><b>{{remaining}}</b> {{#whether (equal remaining 1) 'item' 'items'}}{{/whether}} left</div>