{{#if done}}
<a id="clear-completed" class="o-clear-completed">Clear {{done}} completed {{#whether (equal done 1) 'item' 'items'}}{{/whether}}</a>
{{/if}}
<div class="o-todo-count"><b>{{remaining}}</b> {{#whether (equal remaining 1) 'item' 'items'}}{{/whether}} left</div>